<body>
<div class="beer-home">
    <img class="beer-home" src="/images/beer.png" alt="beer picture">  
</div>

<div class="flex-parent">
<button class="buttons"><a class="buttons" href="/beers">Check the Beers!</a></button>
<button class="buttons"><a class="buttons" href="/random-beer">Check a Random Beer!</a></button>
</div>
</body>